.navbar,.navbar-toggle,.navbar-toggle:hover{background-color: #FF9966!important;}
.navbar-brand{color: #fff!important;}
.icon-bar{background-color: #fff!important;}
.navbar-collapse,.navbar-form,.navbar-default .nav-toggle,.navbar-toggle{border-color: #fff!important;}
.page-header{color: #FF9966;border-bottom: 1px solid #FF9966}
.thumbnail{border-color: #FF9966;}