.navbar,.navbar-toggle,.navbar-toggle:hover{background-color: #339966!important;}
.navbar-brand{color: #fff!important;}
.icon-bar{background-color: #fff!important;}
.navbar-collapse,.navbar-form,.navbar-default .nav-toggle,.navbar-toggle{border-color: #fff!important;}
.page-header{color: #339966;border-bottom: 1px solid #339966}
.thumbnail{border-color: #339966;}