.navbar,.navbar-toggle,.navbar-toggle:hover{background-color: #66CCFF!important;}
.navbar-brand{color: #fff!important;}
.icon-bar{background-color: #fff!important;}
.navbar-collapse,.navbar-form,.navbar-default .nav-toggle,.navbar-toggle{border-color: #fff!important;}
.page-header{color: #66CCFF;border-bottom: 1px solid #66CCFF}
.thumbnail{border-color: #66CCFF;}
footer{background-color: #66CCFF;}