<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<title>僵尸君の番劇屋</title>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/spring.css" v-if="!name&&season=='春'">
	<link rel="stylesheet" href="./css/summer.css" v-if="!name&&season=='夏'">
	<link rel="stylesheet" href="./css/fall.css" v-if="!name&&season=='秋'">
	<link rel="stylesheet" href="./css/winter.css" v-if="!name&&season=='冬'">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">僵尸君の番劇屋</a>
			</div>
			<div class="navbar-collapse collapse" id="search" aria-expanded="false">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" v-model="name" class="form-control" placeholder="Search">
					</div>
				</form> 
			</div>
		</div>
	</nav>
	<div class="container" v-if="!name">
		<div class="page-header">
		<h1>{{year}}{{season}}季番</h1>
		</div>
		<form class="form-inline">
			<div class="form-group">
				<select v-model="year" class="form-control">
					<template v-for="yop in yearOption">
						<option v-bind:value="yop" v-if="yop == thisYear" selected="selected">{{yop}}</option>
						<option v-bind:value="yop" v-else>{{yop}}</option>
					</template>	
				</select>
			</div>
			<div class="form-group">
				<select v-model="season" class="form-control">
					<template v-for="sop in seasonOption">
						<option v-bind:value="sop.value" v-if="sop.value == thisSeason" selected="selected">{{sop.text}}</option>
						<option v-bind:value="sop.value" v-else>{{sop.text}}</option>
					</template>	
				</select>
			</div>						
		</form>
		<div class="display">
			<template v-for="item in anime | filterBy year in 'year' | filterBy season in 'season'">
				<div class="thumbnail clear">
					<img src="{{item.img}}" alt="{{item.name}}">
					<div class="caption"><h3>{{item.name}}</h3>
						<p>{{item.year}}{{item.season}}番</p>
						<template v-for="site in anime[$index].sites">
							<a href="{{item.url[$index]}}" class="btn {{item.class[$index]}}" target="_blank">{{site}}</a>
							{{{&nbsp;}}}
						</template>
					</div>
				</div>
			</template>
		</div>
	</div>
	<div class="container" v-if="name">
		<div class="display">
			<template v-for="item in anime | filterBy name in 'name'">
				<div class="thumbnail clear">
					<img src="{{item.img}}" alt="{{item.name}}">
					<div class="caption"><h3>{{item.name}}</h3>
						<p>{{item.year}}{{item.season}}番</p>
						<template v-for="site in anime[$index].sites">
							<a href="{{item.url[$index]}}" class="btn {{item.class[$index]}}" target="_blank">{{site}}</a>
							{{{&nbsp;}}}
						</template>
					</div>
				</div>
			</template>
		</div>	
	</div>
	<footer>
		<div class="container">
			<p>built by <a href="http://cn.vuejs.org/" target="_blank">vue.js</a>  and <a href="http://v3.bootcss.com/" target="_blank">bootstrap</a></p>
			<p><a href="https://github.com/zombielive/anime" target="_blank">github</a> | <a href="https://github.com/zombielive/anime/issues" target="_blank">建议与意见</a></p>
		</div>
	</footer>
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js/data.js"></script>
	<script type="text/javascript" src="./js/vue.min.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
